@charset "UTF-8"; 

/*
    Paleta de cores 
    verde:  #49a09d
    lilas:  #5f2c82
*/

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color:#5f2c82 ;
}
main{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 250px;
    height:70vh;
   
}
section#login{
    box-shadow: 0px 0px 15px #2f164175;
    border-radius: 20px;
}

div#imagem{
    background-image: url(../imagens/pexels-scott-webb-139198\ \(1\).jpg);
    background-position: center center;
    height: 200px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}


div#formulario{
    background-color: white;
    
    border-radius: 0px 0px 20px 20px;
}
div#formulario > h1{
    padding-top: 10px;
    text-align: center;
   
}
div#formulario > p{
    padding: 10px;
    font-size: 10pt;
    text-align: left;
   
}
div#cxemail{
  background-color: #5f2c82;
  padding: 5px;
  margin: auto;
   margin-left: 20px;
   margin-right: 20px;
   

}